@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	body 
		font-size: 12px
    

	.sc
		padding-top: 50px
		padding-bottom: 50px
    

	.gal-link 
		display: block
		margin: 0
    

	.heading-gal 
		text-align: center
    

	.gal-wrap 
		margin: 0 auto
		column-count: 3
        
    

	.clients-items img 
		width: 100px
    

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.team-photo 
		width: 100%
    

	.heading-news,
	.heading-client 
		font-size: 2em
    
    
	.footer-left,
	.footer-center,
	.footer-right 
		display: block
		width: 100%
		text-align: center
    
    
	.container-icons
		margin-top: 20px
    

	.text-footer
		font-size: 1.2em
    

	.text-link
		margin: 10px auto
		font-size: 1.2em
    

	.footer-icon
		float: none
		margin:auto
    

	.menu__bottom
		font-size: 1.2em
		color: $blue
    

	.form-group
		margin-bottom: 5%
    

	.mail-input
		width: 50%
		text-align: center
    


	.soc-ic
		padding: 2%
    

	.soc-ic img 
		width: 45px
 


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.nav
		display: none

	.content-resp-center 
		text-align: center

	.sc
		padding-top: 30px
		padding-bottom: 30px

	.row-expertise
		margin-top: 20px
		margin-bottom: 20px
		margin-left: 0
		margin-right: 0
		width: 100%


	.become
		&-text
			margin-top: 40px !important

		&-btn
			margin-top: 40px !important
			margin-bottom: 40px !important



	.team-photo 
		width: 70%


	.row-teams
		margin: 0
    

	.gal-heading
		margin-bottom: 40px


	.gal-wrap
		margin: 0 auto
		column-count: 2
		column-gap: 5px


	.gal-item 
		padding-bottom: 5px


	.heading-story
		margin-top: 10%

	.team-des-after
		font-size: 15px

	.team-des-after:after 
		display: none


	.clients-items
		text-align: center

	.menu
		margin-top: 2vh
		text-align: center

	.text-expertise 
		margin: 5% 20%


	.clients-items img
		width: 45%

	.contacts
		font-size: 1.5em
	

	.clients
		width: 100%


	.form-heading
		width: 100%
    

	.form-group
		text-align: center
		font-size: 1.5em

	.heading-client
		text-align: center
		font-size: 2em !important



	/**/
// .carousel-indicators-top
// 	display: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
	/**/
	body 
		 font-size: 10px
    

	.video-link
		position: absolute
		left: 50%
		top: 30%
		transform: translateX(-50%)


	.menu__item
		display: list-item
		font-size: 14px
		text-align: right
		padding: 0
		margin-bottom: 10px
    

	.heading-carousel-top
		width: 100%

	.carousel-top
		margin-top: 10%
		width: 90%
    

	.carousel-indicators-top 
		display: none
   
   
	.heading-team 
		font-size: 2.2em
    

	.clients-items 
 		text-align: center
    

	.bt-bot
		margin-left: 0
    




/* Custom, iPhone Retina */
@media only screen and (max-height : 750px)
	/**/
	.carousel-indicators-top 
		display: none
    


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

