.header_content .sale_box .tab_content .btn_red a, #red_form button.btn_form, .box_2 #form_red button, .box_3 .feedback .feedback_buttom a.btn_white, .box_6 .btn_red_5, #red_form_call {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 15px 35px;
  display: inline-block;
  text-transform: none;
  outline: none; }
  .header_content .sale_box .tab_content .btn_red a:hover, #red_form button.btn_form:hover, .box_2 #form_red button:hover, .box_3 .feedback .feedback_buttom a.btn_white:hover, .box_6 .btn_red_5:hover, #red_form_call:hover {
    text-decoration: none; }

.form-text {
  padding: 35px 0;
  font-size: 24px;
  text-transform: uppercase; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.header {
  background-image: url("../img/fon.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 620px;
  background-position: top center; }

.top_header {
  padding-top: 34px; }
  .top_header .logo {
    display: inline-block;
    line-height: 58px; }
  .top_header .phone {
    float: right;
    text-align: right;
    color: #fff; }

.header_content h1 {
  font-family: "Roboto Condensed" sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #282829; }
  .header_content h1 span {
    display: block;
    font-size: 37px; }

.header_content .sale_box .wrapper .tab {
  display: block;
  float: left;
  background-color: rgba(0, 52, 105, 0.25);
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  padding: 20px 25px; }
  .header_content .sale_box .wrapper .tab.active {
    background-color: rgba(0, 52, 105, 0.6);
    color: #000; }

.header_content .sale_box .wrapper .tab_item {
  display: none;
  color: #000; }
  .header_content .sale_box .wrapper .tab_item:first-child {
    display: block; }
  .header_content .sale_box .wrapper .tab_item ul {
    margin: 0;
    padding: 20px 0;
    list-style-type: none; }
    .header_content .sale_box .wrapper .tab_item ul li {
      padding: 0px 25px 20px 70px;
      position: relative; }
      .header_content .sale_box .wrapper .tab_item ul li::before {
        content: "";
        position: absolute;
        left: 30px;
        top: 0;
        background-image: url("../img/sprite.png");
        width: 32px;
        height: 20px;
        background-position: -291px  -135px; }
      .header_content .sale_box .wrapper .tab_item ul li:nth-child(2)::before {
        background-position: -369px  -216px;
        width: 24px;
        height: 18px;
        left: 34px; }
      .header_content .sale_box .wrapper .tab_item ul li:last-child::before {
        width: 26px;
        height: 26px;
        left: 32px;
        background-position: -369px  -170px; }

.header_content .sale_box .tab_content {
  position: relative;
  padding-bottom: 70px;
  background-color: rgba(0, 52, 105, 0.6); }
  .header_content .sale_box .tab_content .btn_red a {
    background-color: #9b1818;
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 20px; }

.phone .wrapper .tab {
  font-size: 16px;
  cursor: pointer;
  color: #fff; }

.phone .wrapper .active {
  text-decoration: underline;
  color: #9b1818; }

.phone .tab_item {
  display: none;
  font-size: 35px;
  color: #003469;
  font-weight: 700; }

.phone .tab_item:first-child {
  display: block; }

.mfp-container {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px; }
  .mfp-container .mfp-content {
    background-color: #fff; }
    .mfp-container .mfp-content .mfp-close {
      position: absolute;
      top: -12px;
      right: -12px; }

#red_form {
  text-align: center; }
  #red_form input {
    width: 77%;
    line-height: 40px;
    outline: none;
    margin: 20px auto; }
    #red_form input:focus {
      border: 2px solid #9b1818; }
  #red_form button.btn_form {
    background-color: #9b1818;
    color: #fff;
    margin: 15px auto;
    border: none; }

.box_1 {
  padding: 50px 0px 40px;
  min-height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #576c85;
  background: -webkit-linear-gradient(top, #576c85 0%, #e7eff7 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#576c85), to(#e7eff7));
  background: -o-linear-gradient(top, #576c85 0%, #e7eff7 100%);
  background: linear-gradient(to bottom, #576c85 0%, #e7eff7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576c85', endColorstr='#e7eff7',GradientType=0 ); }
  .box_1 .text {
    padding-left: 80px;
    font-family: "Roboto Condensed" sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #003469;
    vertical-align: bottom;
    position: relative;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    .box_1 .text::before {
      content: "";
      background-image: url("../img/sprite.png");
      width: 63px;
      height: 55px;
      top: 0;
      left: 0;
      background-position: -67px -255px;
      position: absolute; }
    .box_1 .text .text_1 {
      font-size: 14px; }
    .box_1 .text .text_2 {
      font-size: 16px; }
  .box_1 .col-md-3:first-child .text {
    width: 110px; }
  .box_1 .col-md-3:first-child .text_1 {
    font-size: 15px;
    line-height: 20px; }
  .box_1 .col-md-3:nth-child(2) .text {
    width: 140px; }
  .box_1 .col-md-3:nth-child(2) .text::before {
    width: 62px;
    height: 62px;
    left: 0;
    top: -16px;
    background-position: -129px -135px; }
  .box_1 .col-md-3:nth-child(2) .text_1 {
    font-size: 11px; }
  .box_1 .col-md-3:nth-child(3) .text {
    width: 180px; }
  .box_1 .col-md-3:nth-child(3) .text::before {
    width: 51px;
    height: 66px;
    left: 0;
    top: -16px;
    background-position: -67px -330px; }
  .box_1 .col-md-3:last-child .text {
    width: 173px; }
  .box_1 .col-md-3:last-child .text::before {
    left: 0;
    top: -13px;
    background-position: -211px -135px;
    width: 60px;
    height: 60px; }
  .box_1 .col-md-3:last-child .text_1 {
    font-size: 10px;
    line-height: 27px; }
  .box_1 .col-md-3:last-child .text_2 {
    font-size: 18px; }

.box_2 {
  padding: 50px 0px 75px;
  background-color: #ffffff; }
  .box_2 h3 {
    font-size: 40px;
    color: #003469;
    text-align: center;
    font-family: "Roboto Condensed" sans-serif;
    font-weight: 300;
    padding-bottom: 40px;
    text-transform: uppercase; }
  .box_2 .text_box_2 {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-left: 130px;
    padding-top: 15px;
    position: relative; }
    .box_2 .text_box_2::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 0;
      background-image: url("../img/sprite.png");
      width: 99px;
      height: 100px;
      background-position: -10px -135px; }
    .box_2 .text_box_2:nth-child(2)::before {
      background-position: -250px -10px; }
    .box_2 .text_box_2:nth-child(3) {
      padding-top: 40px; }
      .box_2 .text_box_2:nth-child(3)::before {
        top: 90px;
        width: 100px;
        height: 105px;
        background-position: -10px -10px; }
    .box_2 .text_box_2:last-child {
      padding-top: 30px; }
      .box_2 .text_box_2:last-child::before {
        top: 90px;
        width: 100px;
        height: 104px;
        background-position: -130px -10px; }
    .box_2 .text_box_2 h4 {
      font-family: "Roboto Condensed" sans-serif;
      font-weight: 300;
      font-size: 25px;
      padding-bottom: 10px;
      color: #9b1818; }
    .box_2 .text_box_2 p {
      margin: 0;
      font-size: 16px;
      color: #333; }
  .box_2 #form_red {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 5px solid #003469;
    background-color: #f7f7f7;
    text-align: center; }
    .box_2 #form_red .form-text {
      padding: 25px 0;
      color: #444;
      font-size: 22px;
      font-weight: 700; }
    .box_2 #form_red p {
      margin: 0;
      padding-left: 30px;
      font-size: 14px;
      color: #666;
      padding-bottom: 5px;
      text-align: left; }
    .box_2 #form_red input {
      margin: 0 auto 10px;
      width: 90%;
      outline: none;
      height: 43px;
      font-size: 20px; }
    .box_2 #form_red select {
      font-size: 20px;
      width: 90%;
      color: #666;
      height: 43px;
      outline: none; }
    .box_2 #form_red button {
      color: #fff;
      margin: 36px 0px 46px;
      background-color: #9b1818;
      border: none; }

.box_3 {
  background-image: url("../img/carousel_fon.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top center;
  min-height: 620px; }
  .box_3 .feedback {
    background-color: rgba(0, 52, 105, 0.75);
    min-height: 620px;
    text-align: center; }
    .box_3 .feedback .feedback_top h3 {
      font-size: 50px;
      color: #fff;
      line-height: 56px;
      font-family: "Roboto Condensed" sans-serif;
      padding: 67px 0px 73px;
      font-weight: 300;
      text-align: center; }
    .box_3 .feedback .feedback_top .carousel {
      text-align: center;
      position: relative;
      color: #fff; }
      .box_3 .feedback .feedback_top .carousel .owl-prev {
        position: absolute;
        left: 0%;
        top: 25%; }
      .box_3 .feedback .feedback_top .carousel .owl-next {
        position: absolute;
        right: 0%;
        top: 25%; }
      .box_3 .feedback .feedback_top .carousel .name {
        font-size: 22px;
        line-height: 56px; }
      .box_3 .feedback .feedback_top .carousel .line {
        height: 1px;
        width: 80px;
        background-color: #cea380;
        margin: 0 auto; }
      .box_3 .feedback .feedback_top .carousel .name_feedback {
        width: 730px;
        text-align: center;
        margin: 0 auto 74px;
        padding-top: 20px;
        font-size: 15px;
        line-height: 24px; }
    .box_3 .feedback .feedback_buttom {
      background-image: url("../img/flag.jpg");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      background-position: top center;
      min-height: 235px;
      text-align: center; }
      .box_3 .feedback .feedback_buttom .text_buttom {
        color: #fff;
        text-transform: uppercase;
        padding: 12px 0px 20px;
        font-size: 26px;
        line-height: 36px;
        margin: 38px 0px 28px;
        background-color: rgba(0, 52, 105, 0.7); }
      .box_3 .feedback .feedback_buttom a.btn_white {
        background-color: #fff;
        color: #222;
        outline: none; }

.box_5 {
  text-align: center;
  padding-top: 45px; }
  .box_5 .box {
    display: inline-block; }
    .box_5 .box p {
      font-family: "Roboto Condensed" sans-serif;
      font-weight: 400;
      font-size: 50px;
      display: inline-block;
      margin: 0;
      padding-right: 30px;
      float: left; }
    .box_5 .box .tabs {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      display: inline-block;
      margin: 0;
      margin-top: 14px;
      background-color: #9b1818;
      border: 5px solid #9b1818;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      color: #fff;
      padding: 7px 0; }
      .box_5 .box .tabs .tab {
        padding: 9px 50px; }
        .box_5 .box .tabs .tab.active {
          color: #9b1818;
          background-color: #fff; }
  .box_5 .tab_content .tab_item {
    display: none;
    margin: 0 auto; }
    .box_5 .tab_content .tab_item:first-child {
      display: block; }
    .box_5 .tab_content .tab_item .street {
      padding-left: 100px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 18px;
      color: #333;
      padding-top: 15px;
      padding-bottom: 25px; }
    .box_5 .tab_content .tab_item iframe {
      width: 100%;
      height: 497px; }

.box_6 {
  text-align: center; }
  .box_6 .text {
    font-family: "Roboto Condensed" sans-serif;
    font-weight: 400;
    font-size: 50px;
    padding-top: 85px; }
  .box_6 p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding-top: 43px;
    padding-bottom: 60px; }
  .box_6 .phone_6 .wrapper .tab {
    font-size: 16px;
    cursor: pointer;
    color: #9b1818; }
    .box_6 .phone_6 .wrapper .tab.active {
      text-decoration: underline;
      color: #9b1818; }
  .box_6 .phone_6 .wrapper .tab_item {
    display: none;
    font-size: 35px;
    color: #9b1818;
    font-weight: 700; }
  .box_6 .phone_6 .wrapper .tab_item:first-child {
    display: block; }
  .box_6 .btn_red_5 {
    margin-top: 35px;
    margin-bottom: 190px;
    background-color: #9b1818;
    border: none;
    width: 230px;
    text-decoration: none; }
    .box_6 .btn_red_5 a {
      text-decoration: none;
      color: #fff; }
      .box_6 .btn_red_5 a:hover {
        text-decoration: none; }

#red_form_call {
  text-align: center;
  background-color: #9b1818;
  width: 100%; }
  #red_form_call input {
    width: 77%;
    line-height: 40px;
    outline: none;
    margin: 20px auto 0; }
    #red_form_call input:focus {
      border: 2px solid #9b1818; }

.header_content .sale_box .tab_content .btn_red a, #red_form button.btn_form, .box_2 #form_red button, .box_3 .feedback .feedback_buttom a.btn_white, .box_6 .btn_red_5, #red_form_call {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 15px 35px;
  display: inline-block;
  text-transform: none;
  outline: none; }
  .header_content .sale_box .tab_content .btn_red a:hover, #red_form button.btn_form:hover, .box_2 #form_red button:hover, .box_3 .feedback .feedback_buttom a.btn_white:hover, .box_6 .btn_red_5:hover, #red_form_call:hover {
    text-decoration: none; }

.form-text {
  padding: 35px 0;
  font-size: 24px;
  text-transform: uppercase; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
  .box_1 .text {
    padding-left: 0;
    padding-top: 80px;
    text-align: center; }
    .box_1 .text::before {
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  .box_1 {
    text-align: center; }
    .box_1 .col-sm-6 {
      padding-bottom: 35px; }
    .box_1 .text {
      margin: 0 auto; }
  .box_2 #form_red {
    margin-top: 40px; }
  .box_3 .feedback .feedback_top .carousel .name_feedback {
    width: 90%;
    padding: 20px 15px 0px 0px; }
  .box_3 .feedback .feedback_buttom a.btn_white {
    margin-bottom: 15px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header .top_header {
    text-align: center; }
  .header .logo {
    display: block; }
  .header .phone {
    float: none; }
    .header .phone .tabs {
      text-align: center; }
  .header .header_content {
    padding-top: 35px; }
  .box_3 .feedback .feedback_buttom a.btn_white {
    margin-bottom: 15px; }
  /**/ }

@media only screen and (max-width: 692px) {
  /**/
  .header .top_header {
    text-align: center;
    display: block; }
    .header .top_header .phone {
      text-align: center;
      float: none;
      padding-top: 30px; }
  .heder_content {
    text-align: center; }
    .heder_content h1 {
      font-size: 40px; }
      .heder_content h1 span {
        font-size: 26px; }
    .heder_content .sale_box {
      text-align: left; }
  .box_3 .feedback .feedback_buttom a.btn_white {
    margin-bottom: 15px; } }

@media only screen and (max-width: 534px) {
  /**/
  .header .top_header {
    padding-top: 14px;
    font-size: 28px;
    line-height: 40px; }
    .header .top_header span {
      line-height: 22px;
      font-size: 16px; }
    .header .top_header .phone {
      padding-top: 14px; }
      .header .top_header .phone .tab_item {
        font-size: 29px; }
        .header .top_header .phone .tab_item ul li {
          font-size: 14px; }
    .header .top_header .header_content .sale_box {
      text-align: center; }
      .header .top_header .header_content .sale_box .wrapper .tab {
        font-size: 14px; }
      .header .top_header .header_content .sale_box .tab_content .btn_red a {
        left: 0;
        right: 0;
        margin: 0 auto; }
  .box_3 .feedback .feedback_buttom a.btn_white {
    margin-bottom: 15px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 399px) {
  /**/
  .header .top_header .phone .tab_item {
    padding-top: 12px;
    font-size: 27px; }
  .header .top_header .header_content .sale_box {
    text-align: center; }
    .header .top_header .header_content .sale_box .wrapper .tab {
      float: none; }
    .header .top_header .header_content .sale_box .tab_content .btn_red a {
      left: 20px; }
  .box_1 {
    text-align: center; }
    .box_1 .col-sm-6 {
      padding-bottom: 15px; }
    .box_1 .text {
      margin: 0 auto; }
  .box_2 h3 {
    font-size: 39px; }
  .box_2 #form_red {
    margin-top: 20px; }
  .box_3 .feedback .feedback_buttom a.btn_white {
    margin-bottom: 15px; }
  .box_3 .feedback .feedback_top .carousel .name_feedback {
    width: 90%;
    padding: 10px 5px 0px 0px; }
  .box_5 .tab_content .tab_item .street {
    padding-left: 20px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
